In [30]:
import warnings 
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import os
import logging
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn import linear_model
logging.basicConfig(level=logging.INFO)

In [2]:
train_path = '../data/training.txt'
df = pd.read_csv(train_path, delimiter=';', parse_dates=['time_interval_begin'], dtype={'link_ID': object})

In [3]:
df.head()

,link_ID,date,time_interval_begin,travel_time,imputation1,lagging1,lagging2,lagging3,lagging4,lagging5,...,"links_num_2,1","links_num_2,2","links_num_3,1","links_num_4,1",width_3,width_6,width_9,width_12,width_15,link_ID_en
0,3377906280028510514,2017-03-01,2017-03-01 06:00:00,1.656108,True,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,0,46
1,3377906280028510514,2017-03-01,2017-03-01 06:02:00,1.661686,True,1.656108,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,0,46
2,3377906280028510514,2017-03-01,2017-03-01 06:04:00,1.667200,True,1.661686,1.656108,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,0,46
3,3377906280028510514,2017-03-01,2017-03-01 06:06:00,1.672652,True,1.667200,1.661686,1.656108,NaN,NaN,...,0,0,0,0,1,0,0,0,0,46
4,3377906280028510514,2017-03-01,2017-03-01 06:08:00,1.678040,True,1.672652,1.667200,1.661686,1.656108,NaN,...,0,0,0,0,1,0,0,0,0,46

In [5]:
df.columns

Index(['link_ID', 'date', 'time_interval_begin', 'travel_time', 'imputation1',
       'lagging1', 'lagging2', 'lagging3', 'lagging4', 'lagging5', 'length',
       'area', 'vacation', 'minute_series', 'day_of_week', 'day_of_week_en',
       'hour_en', 'week_hour_1.0,1.0', 'week_hour_1.0,2.0',
       'week_hour_1.0,3.0', 'week_hour_2.0,1.0', 'week_hour_2.0,2.0',
       'week_hour_2.0,3.0', 'week_hour_3.0,1.0', 'week_hour_3.0,2.0',
       'week_hour_3.0,3.0', 'links_num_0,1', 'links_num_0,2', 'links_num_1,0',
       'links_num_1,1', 'links_num_1,2', 'links_num_1,3', 'links_num_1,4',
       'links_num_2,0', 'links_num_2,1', 'links_num_2,2', 'links_num_3,1',
       'links_num_4,1', 'width_3', 'width_6', 'width_9', 'width_12',
       'width_15', 'link_ID_en'],
      dtype='object')

In [6]:
lagging = 5
lagging_feature = ['lagging%01d' % e for e in range(lagging, 0, -1)]
base_feature = [x for x in df.columns.values.tolist() if x not in ['time_interval_begin', 'link_ID',
                                                                   'date', 'travel_time', 'imputation1',
                                                                   'minute_series', 'area', 'hour_en', 'day_of_week']]

In [18]:
base_feature = [x for x in base_feature if x not in lagging_feature]

In [19]:
base_feature

['length',
 'vacation',
 'day_of_week_en',
 'week_hour_1.0,1.0',
 'week_hour_1.0,2.0',
 'week_hour_1.0,3.0',
 'week_hour_2.0,1.0',
 'week_hour_2.0,2.0',
 'week_hour_2.0,3.0',
 'week_hour_3.0,1.0',
 'week_hour_3.0,2.0',
 'week_hour_3.0,3.0',
 'links_num_0,1',
 'links_num_0,2',
 'links_num_1,0',
 'links_num_1,1',
 'links_num_1,2',
 'links_num_1,3',
 'links_num_1,4',
 'links_num_2,0',
 'links_num_2,1',
 'links_num_2,2',
 'links_num_3,1',
 'links_num_4,1',
 'width_3',
 'width_6',
 'width_9',
 'width_12',
 'width_15',
 'link_ID_en']

In [13]:
type(base_feature)

list

In [20]:
train_features = base_feature.copy()
train_features.extend(lagging_feature)

In [21]:
train_features

['length',
 'vacation',
 'day_of_week_en',
 'week_hour_1.0,1.0',
 'week_hour_1.0,2.0',
 'week_hour_1.0,3.0',
 'week_hour_2.0,1.0',
 'week_hour_2.0,2.0',
 'week_hour_2.0,3.0',
 'week_hour_3.0,1.0',
 'week_hour_3.0,2.0',
 'week_hour_3.0,3.0',
 'links_num_0,1',
 'links_num_0,2',
 'links_num_1,0',
 'links_num_1,1',
 'links_num_1,2',
 'links_num_1,3',
 'links_num_1,4',
 'links_num_2,0',
 'links_num_2,1',
 'links_num_2,2',
 'links_num_3,1',
 'links_num_4,1',
 'width_3',
 'width_6',
 'width_9',
 'width_12',
 'width_15',
 'link_ID_en',
 'lagging5',
 'lagging4',
 'lagging3',
 'lagging2',
 'lagging1']

In [22]:
params = {


        'boosting_type': 'gbdt',
        'objective': 'regression',
        'metric': 'mae',
        'num_leaves': 63,
        'learning_rate': 0.01,
        'feature_fraction': 0.8,
        'bagging_fraction': 0.9,
        'bagging_seed':0,
        'bagging_freq': 1,
        'verbose': 1,
        'reg_alpha':1,
        'reg_lambda':2,
        'min_child_weight':6
    }

In [34]:
def lightGBM_submit(df,params):
    train_df = df.loc[df['time_interval_begin'] < pd.to_datetime('2017-07-01')]
    train_df = train_df.dropna()
    X = train_df[train_features].values
    y = train_df['travel_time'].values
    
    test_df = df.loc[df['time_interval_begin'] >= pd.to_datetime('2017-07-01')]
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)
    
    lgb_train = lgb.Dataset(X_train, y_train)
    lgb_evals = lgb.Dataset(X_test, y_test , reference=lgb_train)
    
    logging.info('begin train lgb')
    # 通过验证集调参（超参数），进行模型选择
    gbm = lgb.train(params,
                    lgb_train,
                    num_boost_round=1000,
                    valid_sets=[lgb_train,lgb_evals],
                    valid_names=['train','valid'],
                    early_stopping_rounds=50,
                    verbose_eval=100,
                    )
    
    
    logging.info('train success')
    logging.info('begin predict')
    test_df['prediction'] = gbm.predict(test_df[train_features].values)
    return test_df

In [35]:
test_df = lightGBM_submit(df,params)

INFO:root:begin train lgb

Training until validation scores don't improve for 50 rounds.
[100]	train's l1: 0.339439	valid's l1: 0.339252
[200]	train's l1: 0.200063	valid's l1: 0.199911
[300]	train's l1: 0.163285	valid's l1: 0.163269
[400]	train's l1: 0.154086	valid's l1: 0.154113
[500]	train's l1: 0.151534	valid's l1: 0.151565
[600]	train's l1: 0.150599	valid's l1: 0.15063
[700]	train's l1: 0.150172	valid's l1: 0.150206
[800]	train's l1: 0.149955	valid's l1: 0.150002
[900]	train's l1: 0.149814	valid's l1: 0.149878

INFO:root:train success
INFO:root:begin predict

[1000]	train's l1: 0.149708	valid's l1: 0.149793
Did not meet early stopping. Best iteration is:
[1000]	train's l1: 0.149708	valid's l1: 0.149793

In [36]:
test_df

,link_ID,date,time_interval_begin,travel_time,imputation1,lagging1,lagging2,lagging3,lagging4,lagging5,...,"links_num_2,2","links_num_3,1","links_num_4,1",width_3,width_6,width_9,width_12,width_15,link_ID_en,prediction
32940,3377906280028510514,2017-07-01,2017-07-01 06:00:00,1.684471,True,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,46,0.892778
32941,3377906280028510514,2017-07-01,2017-07-01 06:02:00,1.690049,True,1.684471,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,46,1.681868
32942,3377906280028510514,2017-07-01,2017-07-01 06:04:00,1.695564,True,1.690049,1.684471,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,46,1.725928
32943,3377906280028510514,2017-07-01,2017-07-01 06:06:00,1.701015,True,1.695564,1.690049,1.684471,NaN,NaN,...,0,0,0,1,0,0,0,0,46,1.692113
32944,3377906280028510514,2017-07-01,2017-07-01 06:08:00,1.706404,True,1.701015,1.695564,1.690049,1.684471,NaN,...,0,0,0,1,0,0,0,0,46,1.655573
32945,3377906280028510514,2017-07-01,2017-07-01 06:10:00,1.711730,True,1.706404,1.701015,1.695564,1.690049,1.684471,...,0,0,0,1,0,0,0,0,46,1.738458
32946,3377906280028510514,2017-07-01,2017-07-01 06:12:00,1.716994,True,1.711730,1.706404,1.701015,1.695564,1.690049,...,0,0,0,1,0,0,0,0,46,1.740386
32947,3377906280028510514,2017-07-01,2017-07-01 06:14:00,1.722196,True,1.716994,1.711730,1.706404,1.701015,1.695564,...,0,0,0,1,0,0,0,0,46,1.740201
32948,3377906280028510514,2017-07-01,2017-07-01 06:16:00,1.727337,True,1.722196,1.716994,1.711730,1.706404,1.701015,...,0,0,0,1,0,0,0,0,46,1.740201
32949,3377906280028510514,2017-07-01,2017-07-01 06:18:00,1.732417,True,1.727337,1.722196,1.716994,1.711730,1.706404,...,0,0,0,1,0,0,0,0,46,1.753818
32950,3377906280028510514,2017-07-01,2017-07-01 06:20:00,1.737436,True,1.732417,1.727337,1.722196,1.716994,1.711730,...,0,0,0,1,0,0,0,0,46,1.755539
32951,3377906280028510514,2017-07-01,2017-07-01 06:22:00,1.742395,True,1.737436,1.732417,1.727337,1.722196,1.716994,...,0,0,0,1,0,0,0,0,46,1.755539
32952,3377906280028510514,2017-07-01,2017-07-01 06:24:00,1.747294,True,1.742395,1.737436,1.732417,1.727337,1.722196,...,0,0,0,1,0,0,0,0,46,1.761329
32953,3377906280028510514,2017-07-01,2017-07-01 06:26:00,1.752134,True,1.747294,1.742395,1.737436,1.732417,1.727337,...,0,0,0,1,0,0,0,0,46,1.762671
32954,3377906280028510514,2017-07-01,2017-07-01 06:28:00,1.756914,True,1.752134,1.747294,1.742395,1.737436,1.732417,...,0,0,0,1,0,0,0,0,46,1.762671
32955,3377906280028510514,2017-07-01,2017-07-01 06:30:00,1.761635,True,1.756914,1.752134,1.747294,1.742395,1.737436,...,0,0,0,1,0,0,0,0,46,1.762671
32956,3377906280028510514,2017-07-01,2017-07-01 06:32:00,1.766297,True,1.761635,1.756914,1.752134,1.747294,1.742395,...,0,0,0,1,0,0,0,0,46,1.782367
32957,3377906280028510514,2017-07-01,2017-07-01 06:34:00,1.770902,True,1.766297,1.761635,1.756914,1.752134,1.747294,...,0,0,0,1,0,0,0,0,46,1.784236
32958,3377906280028510514,2017-07-01,2017-07-01 06:36:00,1.775448,True,1.770902,1.766297,1.761635,1.756914,1.752134,...,0,0,0,1,0,0,0,0,46,1.784950
32959,3377906280028510514,2017-07-01,2017-07-01 06:38:00,1.779937,True,1.775448,1.770902,1.766297,1.761635,1.756914,...,0,0,0,1,0,0,0,0,46,1.795567
32960,3377906280028510514,2017-07-01,2017-07-01 06:40:00,1.784369,True,1.779937,1.775448,1.770902,1.766297,1.761635,...,0,0,0,1,0,0,0,0,46,1.794909
32961,3377906280028510514,2017-07-01,2017-07-01 06:42:00,1.788744,True,1.784369,1.779937,1.775448,1.770902,1.766297,...,0,0,0,1,0,0,0,0,46,1.795726
32962,3377906280028510514,2017-07-01,2017-07-01 06:44:00,1.793062,True,1.788744,1.784369,1.779937,1.775448,1.770902,...,0,0,0,1,0,0,0,0,46,1.795726
32963,3377906280028510514,2017-07-01,2017-07-01 06:46:00,1.797325,True,1.793062,1.788744,1.784369,1.779937,1.775448,...,0,0,0,1,0,0,0,0,46,1.804068
32964,3377906280028510514,2017-07-01,2017-07-01 06:48:00,1.801531,True,1.797325,1.793062,1.788744,1.784369,1.779937,...,0,0,0,1,0,0,0,0,46,1.807902
32965,3377906280028510514,2017-07-01,2017-07-01 06:50:00,1.805682,True,1.801531,1.797325,1.793062,1.788744,1.784369,...,0,0,0,1,0,0,0,0,46,1.807896
32966,3377906280028510514,2017-07-01,2017-07-01 06:52:00,1.809778,True,1.805682,1.801531,1.797325,1.793062,1.788744,...,0,0,0,1,0,0,0,0,46,1.807896
32967,3377906280028510514,2017-07-01,2017-07-01 06:54:00,1.813820,True,1.809778,1.805682,1.801531,1.797325,1.793062,...,0,0,0,1,0,0,0,0,46,1.822222
32968,3377906280028510514,2017-07-01,2017-07-01 06:56:00,1.817807,True,1.813820,1.809778,1.805682,1.801531,1.797325,...,0,0,0,1,0,0,0,0,46,1.822222
32969,3377906280028510514,2017-07-01,2017-07-01 06:58:00,1.821739,True,1.817807,1.813820,1.809778,1.805682,1.801531,...,0,0,0,1,0,0,0,0,46,1.822222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5084610,9377906289175510514,2017-07-31,2017-07-31 17:00:00,1.335001,False,1.435085,1.481605,1.435085,1.458615,1.568616,...,0,0,0,0,0,1,0,0,24,1.468859
5084611,9377906289175510514,2017-07-31,2017-07-31 17:02:00,1.360977,False,1.335001,1.435085,1.481605,1.435085,1.458615,...,0,0,0,0,0,1,0,0,24,1.409220
5084612,9377906289175510514,2017-07-31,2017-07-31 17:04:00,1.360977,False,1.360977,1.335001,1.435085,1.481605,1.435085,...,0,0,0,0,0,1,0,0,24,1.415483
5084613,9377906289175510514,2017-07-31,2017-07-31 17:06:00,1.308333,False,1.360977,1.360977,1.335001,1.435085,1.481605,...,0,0,0,0,0,1,0,0,24,1.421309
5084614,9377906289175510514,2017-07-31,2017-07-31 17:08:00,1.308333,False,1.308333,1.360977,1.360977,1.335001,1.435085,...,0,0,0,0,0,1,0,0,24,1.380695
5084615,9377906289175510514,2017-07-31,2017-07-31 17:10:00,1.386294,False,1.308333,1.308333,1.360977,1.360977,1.335001,...,0,0,0,0,0,1,0,0,24,1.367919
5084616,9377906289175510514,2017-07-31,2017-07-31 17:12:00,1.435085,False,1.386294,1.308333,1.308333,1.360977,1.360977,...,0,0,0,0,0,1,0,0,24,1.416274
5084617,9377906289175510514,2017-07-31,2017-07-31 17:14:00,1.386294,False,1.435085,1.386294,1.308333,1.308333,1.360977,...,0,0,0,0,0,1,0,0,24,1.454491
5084618,9377906289175510514,2017-07-31,2017-07-31 17:16:00,1.458615,False,1.386294,1.435085,1.386294,1.308333,1.308333,...,0,0,0,0,0,1,0,0,24,1.416997
5084619,9377906289175510514,2017-07-31,2017-07-31 17:18:00,1.547563,False,1.458615,1.386294,1.435085,1.386294,1.308333,...,0,0,0,0,0,1,0,0,24,1.464020
5084620,9377906289175510514,2017-07-31,2017-07-31 17:20:00,1.526056,False,1.547563,1.458615,1.386294,1.435085,1.386294,...,0,0,0,0,0,1,0,0,24,1.528842
5084621,9377906289175510514,2017-07-31,2017-07-31 17:22:00,1.458615,False,1.526056,1.547563,1.458615,1.386294,1.435085,...,0,0,0,0,0,1,0,0,24,1.520533
5084622,9377906289175510514,2017-07-31,2017-07-31 17:24:00,1.386294,False,1.458615,1.526056,1.547563,1.458615,1.386294,...,0,0,0,0,0,1,0,0,24,1.466204
5084623,9377906289175510514,2017-07-31,2017-07-31 17:26:00,1.386294,False,1.386294,1.458615,1.526056,1.547563,1.458615,...,0,0,0,0,0,1,0,0,24,1.429832
5084624,9377906289175510514,2017-07-31,2017-07-31 17:28:00,1.589235,False,1.386294,1.386294,1.458615,1.526056,1.547563,...,0,0,0,0,0,1,0,0,24,1.430248
5084625,9377906289175510514,2017-07-31,2017-07-31 17:30:00,1.629241,False,1.589235,1.386294,1.386294,1.458615,1.526056,...,0,0,0,0,0,1,0,0,24,1.568247
5084626,9377906289175510514,2017-07-31,2017-07-31 17:32:00,1.726216,False,1.629241,1.589235,1.386294,1.386294,1.458615,...,0,0,0,0,0,1,0,0,24,1.599279
5084627,9377906289175510514,2017-07-31,2017-07-31 17:34:00,1.435085,False,1.726216,1.629241,1.589235,1.386294,1.386294,...,0,0,0,0,0,1,0,0,24,1.673516
5084628,9377906289175510514,2017-07-31,2017-07-31 17:36:00,1.360977,False,1.435085,1.726216,1.629241,1.589235,1.386294,...,0,0,0,0,0,1,0,0,24,1.459165
5084629,9377906289175510514,2017-07-31,2017-07-31 17:38:00,1.386294,False,1.360977,1.435085,1.726216,1.629241,1.589235,...,0,0,0,0,0,1,0,0,24,1.427318
5084630,9377906289175510514,2017-07-31,2017-07-31 17:40:00,1.481605,False,1.386294,1.360977,1.435085,1.726216,1.629241,...,0,0,0,0,0,1,0,0,24,1.431413
5084631,9377906289175510514,2017-07-31,2017-07-31 17:42:00,1.526056,False,1.481605,1.386294,1.360977,1.435085,1.726216,...,0,0,0,0,0,1,0,0,24,1.497850
5084632,9377906289175510514,2017-07-31,2017-07-31 17:44:00,1.435085,False,1.526056,1.481605,1.386294,1.360977,1.435085,...,0,0,0,0,0,1,0,0,24,1.519063
5084633,9377906289175510514,2017-07-31,2017-07-31 17:46:00,1.410987,False,1.435085,1.526056,1.481605,1.386294,1.360977,...,0,0,0,0,0,1,0,0,24,1.454440
5084634,9377906289175510514,2017-07-31,2017-07-31 17:48:00,1.386294,False,1.410987,1.435085,1.526056,1.481605,1.386294,...,0,0,0,0,0,1,0,0,24,1.440222
5084635,9377906289175510514,2017-07-31,2017-07-31 17:50:00,1.360977,False,1.386294,1.410987,1.435085,1.526056,1.481605,...,0,0,0,0,0,1,0,0,24,1.434236
5084636,9377906289175510514,2017-07-31,2017-07-31 17:52:00,1.410987,False,1.360977,1.386294,1.410987,1.435085,1.526056,...,0,0,0,0,0,1,0,0,24,1.423470
5084637,9377906289175510514,2017-07-31,2017-07-31 17:54:00,1.547563,False,1.410987,1.360977,1.386294,1.410987,1.435085,...,0,0,0,0,0,1,0,0,24,1.442486
5084638,9377906289175510514,2017-07-31,2017-07-31 17:56:00,1.547563,False,1.547563,1.410987,1.360977,1.386294,1.410987,...,0,0,0,0,0,1,0,0,24,1.531776
5084639,9377906289175510514,2017-07-31,2017-07-31 17:58:00,1.589235,False,1.547563,1.547563,1.410987,1.360977,1.386294,...,0,0,0,0,0,1,0,0,24,1.532789

In [42]:
# submit

# 恢复数据
test_df['prediction'] = np.expm1(test_df['prediction'])

test_df['time_interval_begin'] = test_df['time_interval_begin'] + pd.DateOffset(minutes=2)
test_df['time_interval'] = test_df['time_interval_begin'].map(
            lambda x: '[' + str(x) + ',' + str(x + pd.DateOffset(minutes=2)) + ')')
test_df.time_interval = test_df.time_interval.astype(object)
        
submit_file = '../data/submit_lgb_v1.txt'

test_df[['link_ID', 'date', 'time_interval', 'prediction']].to_csv(submit_file, mode='a', header=False,
                                                                              index=False,
                                                                              sep=';')

### 现在有一个很严重的问题

In [43]:
# 因为给定1-n ,预测n+1 - n+ m的时间序列预测
# 因此在预测出t时刻的travel_time后，需要把这个travel_time作为预测t+1时刻travel_time的lagging1特征
# 这个lagging 特征需要根据上次的预测结果进行更新的，如此反复预测直到最后一个时刻的travel_time

In [46]:
sub_df = test_df[['link_ID', 'date', 'time_interval', 'prediction']]

In [47]:
sub_df

,link_ID,date,time_interval,prediction
32940,3377906280028510514,2017-07-01,"[2017-07-01 06:02:00,2017-07-01 06:04:00)",1.441903
32941,3377906280028510514,2017-07-01,"[2017-07-01 06:04:00,2017-07-01 06:06:00)",4.375586
32942,3377906280028510514,2017-07-01,"[2017-07-01 06:06:00,2017-07-01 06:08:00)",4.617733
32943,3377906280028510514,2017-07-01,"[2017-07-01 06:08:00,2017-07-01 06:10:00)",4.430943
32944,3377906280028510514,2017-07-01,"[2017-07-01 06:10:00,2017-07-01 06:12:00)",4.236078
32945,3377906280028510514,2017-07-01,"[2017-07-01 06:12:00,2017-07-01 06:14:00)",4.688563
32946,3377906280028510514,2017-07-01,"[2017-07-01 06:14:00,2017-07-01 06:16:00)",4.699544
32947,3377906280028510514,2017-07-01,"[2017-07-01 06:16:00,2017-07-01 06:18:00)",4.698489
32948,3377906280028510514,2017-07-01,"[2017-07-01 06:18:00,2017-07-01 06:20:00)",4.698489
32949,3377906280028510514,2017-07-01,"[2017-07-01 06:20:00,2017-07-01 06:22:00)",4.776613
32950,3377906280028510514,2017-07-01,"[2017-07-01 06:22:00,2017-07-01 06:24:00)",4.786568
32951,3377906280028510514,2017-07-01,"[2017-07-01 06:24:00,2017-07-01 06:26:00)",4.786568
32952,3377906280028510514,2017-07-01,"[2017-07-01 06:26:00,2017-07-01 06:28:00)",4.820170
32953,3377906280028510514,2017-07-01,"[2017-07-01 06:28:00,2017-07-01 06:30:00)",4.827985
32954,3377906280028510514,2017-07-01,"[2017-07-01 06:30:00,2017-07-01 06:32:00)",4.827985
32955,3377906280028510514,2017-07-01,"[2017-07-01 06:32:00,2017-07-01 06:34:00)",4.827985
32956,3377906280028510514,2017-07-01,"[2017-07-01 06:34:00,2017-07-01 06:36:00)",4.943910
32957,3377906280028510514,2017-07-01,"[2017-07-01 06:36:00,2017-07-01 06:38:00)",4.955031
32958,3377906280028510514,2017-07-01,"[2017-07-01 06:38:00,2017-07-01 06:40:00)",4.959284
32959,3377906280028510514,2017-07-01,"[2017-07-01 06:40:00,2017-07-01 06:42:00)",5.022889
32960,3377906280028510514,2017-07-01,"[2017-07-01 06:42:00,2017-07-01 06:44:00)",5.018928
32961,3377906280028510514,2017-07-01,"[2017-07-01 06:44:00,2017-07-01 06:46:00)",5.023847
32962,3377906280028510514,2017-07-01,"[2017-07-01 06:46:00,2017-07-01 06:48:00)",5.023847
32963,3377906280028510514,2017-07-01,"[2017-07-01 06:48:00,2017-07-01 06:50:00)",5.074310
32964,3377906280028510514,2017-07-01,"[2017-07-01 06:50:00,2017-07-01 06:52:00)",5.097643
32965,3377906280028510514,2017-07-01,"[2017-07-01 06:52:00,2017-07-01 06:54:00)",5.097605
32966,3377906280028510514,2017-07-01,"[2017-07-01 06:54:00,2017-07-01 06:56:00)",5.097605
32967,3377906280028510514,2017-07-01,"[2017-07-01 06:56:00,2017-07-01 06:58:00)",5.185589
32968,3377906280028510514,2017-07-01,"[2017-07-01 06:58:00,2017-07-01 07:00:00)",5.185589
32969,3377906280028510514,2017-07-01,"[2017-07-01 07:00:00,2017-07-01 07:02:00)",5.185589
...,...,...,...,...
5084610,9377906289175510514,2017-07-31,"[2017-07-31 17:02:00,2017-07-31 17:04:00)",3.344274
5084611,9377906289175510514,2017-07-31,"[2017-07-31 17:04:00,2017-07-31 17:06:00)",3.092761
5084612,9377906289175510514,2017-07-31,"[2017-07-31 17:06:00,2017-07-31 17:08:00)",3.118476
5084613,9377906289175510514,2017-07-31,"[2017-07-31 17:08:00,2017-07-31 17:10:00)",3.142540
5084614,9377906289175510514,2017-07-31,"[2017-07-31 17:10:00,2017-07-31 17:12:00)",2.977666
5084615,9377906289175510514,2017-07-31,"[2017-07-31 17:12:00,2017-07-31 17:14:00)",2.927170
5084616,9377906289175510514,2017-07-31,"[2017-07-31 17:14:00,2017-07-31 17:16:00)",3.121736
5084617,9377906289175510514,2017-07-31,"[2017-07-31 17:16:00,2017-07-31 17:18:00)",3.282302
5084618,9377906289175510514,2017-07-31,"[2017-07-31 17:18:00,2017-07-31 17:20:00)",3.124714
5084619,9377906289175510514,2017-07-31,"[2017-07-31 17:20:00,2017-07-31 17:22:00)",3.323306
5084620,9377906289175510514,2017-07-31,"[2017-07-31 17:22:00,2017-07-31 17:24:00)",3.612830
5084621,9377906289175510514,2017-07-31,"[2017-07-31 17:24:00,2017-07-31 17:26:00)",3.574662
5084622,9377906289175510514,2017-07-31,"[2017-07-31 17:26:00,2017-07-31 17:28:00)",3.332758
5084623,9377906289175510514,2017-07-31,"[2017-07-31 17:28:00,2017-07-31 17:30:00)",3.177997
5084624,9377906289175510514,2017-07-31,"[2017-07-31 17:30:00,2017-07-31 17:32:00)",3.179736
5084625,9377906289175510514,2017-07-31,"[2017-07-31 17:32:00,2017-07-31 17:34:00)",3.798231
5084626,9377906289175510514,2017-07-31,"[2017-07-31 17:34:00,2017-07-31 17:36:00)",3.949463
5084627,9377906289175510514,2017-07-31,"[2017-07-31 17:36:00,2017-07-31 17:38:00)",4.330881
5084628,9377906289175510514,2017-07-31,"[2017-07-31 17:38:00,2017-07-31 17:40:00)",3.302367
5084629,9377906289175510514,2017-07-31,"[2017-07-31 17:40:00,2017-07-31 17:42:00)",3.167508
5084630,9377906289175510514,2017-07-31,"[2017-07-31 17:42:00,2017-07-31 17:44:00)",3.184608
5084631,9377906289175510514,2017-07-31,"[2017-07-31 17:44:00,2017-07-31 17:46:00)",3.472062
5084632,9377906289175510514,2017-07-31,"[2017-07-31 17:46:00,2017-07-31 17:48:00)",3.567945
5084633,9377906289175510514,2017-07-31,"[2017-07-31 17:48:00,2017-07-31 17:50:00)",3.282087
5084634,9377906289175510514,2017-07-31,"[2017-07-31 17:50:00,2017-07-31 17:52:00)",3.221635
5084635,9377906289175510514,2017-07-31,"[2017-07-31 17:52:00,2017-07-31 17:54:00)",3.196439
5084636,9377906289175510514,2017-07-31,"[2017-07-31 17:54:00,2017-07-31 17:56:00)",3.151501
5084637,9377906289175510514,2017-07-31,"[2017-07-31 17:56:00,2017-07-31 17:58:00)",3.231203
5084638,9377906289175510514,2017-07-31,"[2017-07-31 17:58:00,2017-07-31 18:00:00)",3.626387
5084639,9377906289175510514,2017-07-31,"[2017-07-31 18:00:00,2017-07-31 18:02:00)",3.631076