In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# 学习一下groupby函数
test_df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
    'key2':['one', 'two', 'one', 'two', 'one'],
    'data1':np.random.randn(5),
    'data2':np.random.randn(5)})

In [3]:
test_df

  key1 key2     data1     data2
0    a  one -0.712278  2.595922
1    a  two  0.318323  1.373265
2    b  one  0.898865 -0.320566
3    b  two -0.040693 -0.100248
4    a  one -0.190311 -1.915799

In [4]:
group = test_df.groupby('key1')

In [5]:
group

In [6]:
group.mean()

         data1     data2
key1
a    -0.194755  0.684462
b     0.429086 -0.210407

In [ ]:
group.groupby